/**
 * Debug
 * debugging styles (bg/boarders)
 */
 @mixin debugging {
  border: 2px solid $orange4;
  border-radius: 5px;
  background-color: $orange1;
  * {
    border: 2px solid $orange3;
    border-radius: 5px;
    background-color: $orange2;
    color: $orange5;
  }
}

