@import url('https://fonts.googleapis.com/css?family=Roboto');

$global-weight-normal: normal;
$global-weight-bold: bold;

$body-font-family: 'Roboto', 'Helvetica Neue', Roboto, Helvetica, Arial, sans-serif;

// Base Typography
// ------------------
$header-font-family: $body-font-family;
$header-font-style: normal;
$header-font-weight: $global-weight-normal;
$header-color: inherit;
$header-text-rendering: optimizeLegibility;
$header-small-font-color: $medium-gray;
