  // Paragraphs
  p {
    // margin-bottom: $paragraph-margin-bottom;
    font-family: $body-font-family;
    font-size: inherit;
    // line-height: $paragraph-lineheight;
    // text-rendering: $paragraph-text-rendering;
  }

  // Headings
  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-family: $header-font-family;
    font-style: $header-font-style;
    font-weight: $header-font-weight;
    color: $header-color;
    text-rendering: $header-text-rendering;

    small {
      line-height: 0;
      color: $header-small-font-color;
    }
  }
