/**
 * Colors
 */
 $grey1: #a3a3a3; // not used
 $grey2: #ECECEC;
 $grey3: #707070;
 
 $white: #fff;
 
 $orange1: #fff4e6;
 $orange2: #ffd8a8;
 $orange3: #ffa94d;
 $orange4: #f76707;
 $orange5: #d9480f;
 
 $dashboard-aside-text-color: $white;
 
 $boarder1: 1px solid rgba(106,106,106, 0.56);
